{% extends "EmployeeBundle:layout:layout_loggedIn.html.twig" %}
{% block body %}
<div class="row top-container">
		<div class="display-leave-header top-header">
			Respond to Request Ticket
		</div>
		<div class="col col-md-12 table-container">
			<table class="display-data-table" id="displayTable">
			<thead>
				<tr>
				<th>sr. no</th>
				<th>Title</th>
				<th>Description</th>
				<th>Request Date</th>
				<th>Take Action</th>
			</tr>
			</thead>
			<tbody>
			{% set count = 0 %}
			{% for requestTicket in requestTickets %}
				{% set count = count + 1 %}
       			 <tr>
       			 	<td>{{ count }}</td>
       			 	<td>{{ requestTicket.title }}</td>
       			 	<td>{{ requestTicket.description }}</td>
       			 	<td>{{ requestTicket.created |date("m/d/Y") }}</td>
       			 	<td><button class="button-form-type resolve-request" data-toggle="modal" data-target="#resolveModal"  data-id="{{requestTicket.id}}">Resolve</button></td>
       			 </tr>
   			 {% endfor %}
			
			</tbody>
		</table>
		<!-- Accept Modal -->
			<div id="resolveModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Resolve this ticket</h4>
			      </div>
			      <div class="modal-body">
			      		<div class="row">
							<div class="col col-md-4">
								<div class="form-item-container">
									<label class="form-item-Label">Change Status</label>
									<select id="changed_status" class="form-input-option">
					        		<options>
					        			{% for status in allStatus %}
					        				<option value="{{status.status}}">{{status.status}}</option>
					        				 {% endfor %}
					        		</options>
					        	</select>
					        </div>
							</div>
							<div class="col col-md-1 or-text-modal"> Or</div>
							<div class="col col-md-4">
								<div class="form-item-container">
									<label class="form-item-Label">Assign To</label>
									<input type="text" name="employee_mid" id="employee_search">

									<div id="suggest"></div>
					        </div>
							</div>
						</div>
			        	
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn button-primary resolve-request-confirm" data-dismiss="modal">Submit</button>
			        <button type="button" class="btn button-primary-danger" data-dismiss="modal">close</button>
			      </div>
			    </div>

			  </div>
			</div>

	</div>
{% endblock %}
{% block javascripts %}


<script type="text/javascript">
	$(document).ready(function () {
		var requestId="";
			$('.resolve-request').click(function(){
				requestId=$(this).attr("data-id");
			});
			$('.resolve-request-confirm').click(function(){
				var text = document.getElementById('employee_search').value;
				if(text == ""){
					var status = document.getElementById('changed_status').value;
					var Url=location.origin + "/auth/respondRequestSubmit/"+requestId+"?status="+status;
		        	$.ajax({url: Url, success: function(result){
		        		
		    			}});
		        	setTimeout(function(){ 
		        		location.reload();
		       	 }, 500);
				}else{
					empId=text;
						var Url=location.origin + "/auth/respondRequestSubmit/"+requestId+"?assigned="+empId;
		        	$.ajax({url: Url, success: function(result){
		        		
		    			}});
		        	setTimeout(function(){ 
		        		location.reload();
		       	 }, 500);

				}
				
			});




			
			

			
	});

</script>
{% endblock %}