{% extends "EmployeeBundle:layout:layout_loggedIn.html.twig" %}
{% block body %}
<div class="row top-container">
		<div class="display-leave-header top-header">
			Add New Employee
		</div>
					<div class="col col-md-12 asset-form-wrapper">
					<form action="{{ path('submitNewEmployee') }}" method="post">
					<div class="row">
						<div class="col col-md-6">
							<div class="form-item-container">
								<label class="form-item-Label">Employee Id</label>
								<input class="form-item-input" type="text" name="employeeId" value="{{newEmpId }}" required="required" readonly></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Employee Email</label>
								<input class="form-item-input" type="email" name="email" required="required" ></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Address</label>
								<input class="form-item-input-address" type="text" name="address" required="required" ></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Manager Id</label>
								<input id="employee_search" class="form-item-input" type="text" name="managerNid" required="required" ></input>
								<div id="suggest"></div>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Date Of Birth</label>
								<input class="form-item-input" type="date" name="dob" required="required" ></input>
							</div>
							


						</div>
						<div class="col col-md-6">
							<div class="form-item-container">
								<label class="form-item-Label">Employee Name</label>
								<input class="form-item-input" type="text" name="name" required="required" ></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Employee Phone</label>
								<input class="form-item-input" type="number" pattern="[0-9]" name="phone" required="required" ></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Employee Desgnation</label>
								<select class="form-input-option" name="designation"> 
									<options>
										{% for designation in designations %}
										<option   value="{{ designation.name}}">{{ designation.name}}</option>
										{% endfor %}
									</options>
								</select>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">PAN Number</label>
								<input class="form-item-input" type="text" name="panNumber"  required="required" ></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Date Of Joining</label>
								<input class="form-item-input" type="date" name="doj" required="required" ></input>
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Gender</label>
								<span class="form-item-input" ><input class="" type="radio" name="gender"  >Male</input></span>
								<span class="form-item-input" ><input class="" type="radio" name="gender"  >Female</input></span>
								
							</div>
							<div class="form-item-container">
								<label class="form-item-Label">Employee Desgnation</label>
								<select  multiple class="form-input-option"  name="role[]"> 
									<options>
										{% for role in roles %}
										<option  value="{{ role.roleActionName}}">{{ role.roleName}}</option>
										{% endfor %}
									</options>
								</select>
							</div>
							
							


						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-apply-button-container">
							<button class="button-primary" type="submit">Add</button>
						</div>
					</div>
					</form>
				</div> 
</div>
{% endblock %}
{% block stylesheets %}
<style type="text/css">


</style>
{% endblock %}
