{% extends "EmployeeBundle:layout:layout_loggedIn.html.twig" %}
{% block title %}Employee{% endblock %}
{% block body %}
<div class="row top-container">
		<div class="display-leave-header top-header">
			Update Employee Details
		</div>
		<div class="col col-md-12 table-container">
			<table class="display-data-table" id="displayTable">
			<thead>
				<tr>
					<th>Employee Name</th>
					<th>Employee ID</th>
					<th>Email</th>
					<th>Phone</th>

						<th>Designation</th>
				
					<th>Action</th>
					</tr>
			</thead>
			<tbody>
			{% set count = 0 %}
			{% for employee in employees %}
				{% set count = count + 1 %}
       			 <tr>
       			 	<td>{{ employee.name }}</td>
       			 	<td>{{ employee.nID }}</td>
					<td>{{ employee.email }}</td>
					<td>{{ employee.phone}}</td>
				{% if employee.designation %}
						<td>{{ employee.designation.name}}</td>
					{% else %}
						<td>Not set</td>
				{% endif %}	
					
       			 	<td><button class="button-form-type update-employee" data-toggle="modal" data-target="#updateModal"  data-id="{{employee.nID}}">Update</button>
       			 	<button class="button-form-type-danger delete-employee" data-toggle="modal" data-target="#deleteModal"  data-id="{{employee.nID}}">Delete</button></td>
       			 </tr>
   			 {% endfor %}
			
			</tbody>
		</table>
			<div id="deleteModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Delete  Employee</h4>
			      </div>
			      <div class="modal-body">
			        <p>This Action will be verified by Admin .</p>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn button-primary delete-employee-confirm" data-dismiss="modal">Delete</button>
			        <button type="button" class="btn button-primary-danger " data-dismiss="modal">close</button>
			      </div>
			    </div>

			  </div>
			</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}


<script type="text/javascript">
	$(document).ready(function () {
		var empId="";
			$('.update-employee').click(function(){
				empId=$(this).attr("data-id");
				window.location = location.origin +"/auth/update-employee/"+empId;
			});
			
			$('.delete-employee').click(function(){
				empId=$(this).attr("data-id");
			});
			$('.delete-employee-confirm').click(function(){
				/*var Url=location.origin + "/auth/respondLeaveSubmit/"+leaveId+"?resp=no";
		        	$.ajax({url: Url, success: function(result){
		        			 location.reload();
		    			}});
		        	setTimeout(function(){ 
		        		location.reload();
		        }, 500);*/
		        	
			});
			

			
	});

</script>
{% endblock %}
