{% extends "EmployeeBundle:layout:layout-admin.html.twig" %}
{% block title %}Leave{% endblock %}
{% block body %}
<div class="row top-container">
	<div class=" top-header">
			Update Leaves
		</div>
		<div class="col col-md-12 admin-top-support">
			<button class="button-primary add-leave">Add New</button>
		</div>
		<div class="col col-md-12 table-container">
			<table class="display-assets-table" id="displayTable">
			<thead>
				<tr>
				<th>sr. no</th>
				<th>Type Name</th>
				<th>Days Alloted</th>
				<th>Documents Required</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			{% set count = 0 %}
			{% for leaveType in leaveTypes %}
				{% set count = count + 1 %}
       			 <tr>
       			 	<td>{{ count }}</td>
       			 	<td>{{ leaveType.typeName }}</td>
       			 	<td>{{ leaveType.daysAlloted }} </td>
       			 	<td>{{ leaveType.documentsRequired }} </td>
       			 	<td><button class="button-form-type update-leave-type"  data-id="{{leaveType.id}}">update</button> <button data-toggle="modal" data-target="#delete"   data-id="{{leaveType.id}}" class="button-form-type-danger delete-department">Delete</button></td>
       			 	
       			 </tr>
   			 {% endfor %}
			
			</tbody>
		</table>

			<!-- Reject Modal -->	
			 	<div id="delete" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Delete Leave Category</h4>
			      </div>
			      <div class="modal-body">
			        <p>This Leave category will be Deleted.</p>
			      </div>
			      <div class="modal-footer">
			      	<button type="button" class="btn button-primary delete-department-confirm" data-dismiss="modal">Delete</button>
			        <button type="button" class="btn button-primary-danger " data-dismiss="modal">close</button>
			      </div>
			    </div>

			  </div>
			</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}


<script type="text/javascript">
	$(document).ready(function () {
		var leaveTypeId = "";
		$('.add-leave').click(function(){
				window.location = location.origin + "/admin/add-new-leave"
			});
		$('.update-leave-type').click(function(){
			 leaveTypeId = $(this).attr("data-id");
				window.location = location.origin + "/admin/update-leaves/"+leaveTypeId
			});
		
		
	});
	</script>
{% endblock %}
